.login_connexion{
    border: solid;
    border-width: 2px;
    height: 300px;
    width: 500px;
    background-color:#f2f2f2;
    border-color: #009879;
    margin: auto;
}
.connexion{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.mail{
    margin-top: 60px;
    margin-left: 20%;
}
.mot_de_passe{
    margin-left: 20%;
}
.envoyer{
    margin-left: 20%;
}