.compte{
    border-style: double;
    border-width: 4px;
    height: 440px;
    width: 500px;
    margin: auto;
    background-color: #f2f3f3;
    border-color: #009879;
    margin-bottom: 20px;
}
.nom{
    margin-top: 40px;
    margin-left: 20%;
}
.prenom{
    margin-left: 20%;
}
.mail{
    margin-left: 20%;
}
.telephone{
    margin-left: 20%;
}
.code_postal{
    margin-left: 20%;
}
.nom_utilisateur{
    margin-left: 20%;
}
.mot_de_passe{
    margin-left: 20%;
}
.mes_infos{
    border-top: 20px;
    border-bottom: 25px;
    text-align: center;
}